h1 {
  font-size: 26px;
}

.dog_album {
  margin-left: 25px;
}

.img-wrap {
  cursor: pointer;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-wrap img {
  opacity: 0.9;
  transition: all 0.5s;
}

.album-title {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 2;
}

.album-content {
  position: relative;
  padding: 15px;
  padding-right: 30px;
  font-size: 16.8px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.photo-list {
  margin-top: 0px;
}

.photo-title {
  text-align: center;
  position: absolute;
  border-bottom: 0px;
  left: 0px;
}

/*# sourceMappingURL=album.css.map */
