.container {
  padding: 0px 50px;
  padding-bottom: 80px; }

.table {
  font-size: 18px; }
  .table tbody > tr:nth-child(odd) {
    background-color: #f4f4f4;
  }

@media (min-width: 1200px) {
  .container {
    width: 100%;
    min-width: 970px; } }

.div_relative {
  position: relative; }
  .div_relative form {
    display: inline-block; }

.btn-right {
  position: absolute;
  right: 0px; }

.file-note {
  font-size: 12px;
  color: orangered; }

.yvt-orders {
  background-color: #00a7d0;
  font-size: 20px; }
