.container {
  padding: 0px 50px;
  padding-bottom: 80px;
}

.table {
  font-size: 18px;
}

.table tbody > tr, .table tbody > td {
  border-top: 0px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    min-width: 970px;
  }
}

.div_relative {
  position: relative;
}

.div_relative form {
  display: inline-block;
}

.btn-right {
  position: absolute;
  right: 0px;
}

.file-note {
  font-size: 12px;
  color: orangered;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

.info-text {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e6e5e5;
  line-height: 30px;
}

.info-text .info-title {
  font-size: 18px;
  font-weight: bold;
}

.info-text ul {
  list-style: none;
}

.info-text ul li {
  font-size: 14px;
}

.error-list {
  padding-left: 30px;
}

* {
  margin: 0;
  padding: 0;
}

.body-wrap {
  padding-bottom: 50px;
  max-width: 1024px;
}

.flex {
  display: flex;
}

.end-right {
  justify-content: flex-end;
}

h3 {
  color: #4A4A4A;
}

.middle {
  align-items: center;
}

.center {
  justify-content: center;
}

.content-wrap-footer {
  margin-top: 5px;
}

.edit-bd {
  border: 1px #9B9B9B solid;
}

.my-btn {
  cursor: pointer;
  font-size: 14px;
  border-radius: 9px;
  border: 0px;
  padding: 8px 15px;
}

.my-btn-md {
  padding: 8px 25px;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.notify {
  position: relative;
}

.notify .notify-sm {
  text-align: center;
  width: 150px;
  font-weight: bold;
  bottom: 43px;
  right: 0px;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
}

.notify .notify-sm::before {
  position: absolute;
  bottom: -10px;
  right: 20px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #9B9B9B transparent transparent transparent;
}

.notify .notify-sm::after {
  position: absolute;
  bottom: -9px;
  right: 20px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: white transparent transparent transparent;
}

.order-content {
  padding: 10px;
  padding-bottom: 30px;
  width: 700px;
}

.order-content .order-item {
  display: flex;
  border: 1px solid #C3C8CC;
  background-color: white;
  min-height: 120px;
  height: auto;
  margin: 10px 0px;
}

.order-content .order-item .num-wrap {
  width: 50px;
  display: flex;
  height: auto;
  background-color: #C3C8CC;
  color: #fff;
}

.order-content .order-item .num-wrap .num {
  font-size: 20px;
  font-weight: bolder;
}

.order-content .order-item .num-bg {
  background-color: #C3C8CC;
  color: white;
}

.order-content .order-item .num-selected {
  background-color: #4990E2;
}

.order-content .order-item .img-wrap {
  width: 450px;
  height: auto;
  border-right: 1px #C3C8CC solid;
}

.order-content .order-item .img-wrap img {
  width: 100%;
  vertical-align: middle;
}

.order-content .order-item .img-wrap img::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.order-content .order-item .content-wrap {
  display: flex;
  width: 490px;
}

.order-content .order-item .content-wrap .content-wrap-title {
  width: 80%;
  padding-left: 10px;
}

.order-content .order-item .content-wrap .content-wrap-title .title {
  font-size: 20px;
}

.order-content .order-item .content-wrap .edit {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
  align-items: center;
}

.order-content .order-item .content-wrap .edit .circle:hover {
  background-color: #828181;
  cursor: pointer;
  transition: 0.3s all;
}

.order-content .order-item .content-wrap .edit .circle {
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9B9B9B;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
}

.order-content .order-item .content-wrap .edit .circle .edit-icon {
  margin-left: 7px;
  width: 100%;
  color: white;
}

.order-content .order-item .content-wrap .edit .circle .edit-text {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: white;
}

.order-content .num-selected-border {
  border: 1px solid #4990E2;
}

.yvt-orders {
  background-color: #fefbed;
  padding: 25px;
  border-left: 5px solid #f1a417;
}

.yvt-orders .close-box, .yvt-orders .open-box {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.yvt-orders .open-box {
  display: none;
}

.orders-img-wrap {
  display: inline-block;
}

.orders-content-wrap {
  display: block;
}

.table-height {
  height: 40px;
}

.table-title {
  width: 180px;
}

.white-bg {
  background-color: white;
}

.order-temp-border {
  border: 1px solid #4990E2;
}

.order-temp-bg {
  background-color: #4990E2;
  color: white;
}

.order-temp-bg:hover {
  background-color: #2276d6;
}

.order-temp-color {
  color: #4990E2;
}

.edit-border {
  border: 1px solid #9B9B9B;
}

.edit-bg {
  background-color: #9B9B9B;
  color: white;
}

.edit-bg:hover {
  background-color: #828181;
}

.edit-color {
  color: #9B9B9B;
}

.drag {
  margin-top: 10px;
}

.drag-enable {
  padding: 10px;
  border: 2px solid #4990E2;
}

.order-selected {
  border: 1px solid #C3C8CC;
  min-height: 200px;
  margin: 10px 0px;
  background-color: #fefbed;
}

.img-wrap {
  width: 450px;
  height: auto;
}

.img-wrap img {
  width: 100%;
  vertical-align: middle;
}

.img-wrap img::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.index-datatable tbody tr td {
  vertical-align: middle;
}

.index-datatable .img-wrap {
  width: 100px;
  height: auto;
}

.index-datatable .img-wrap img {
  width: 100%;
  vertical-align: middle;
}

.index-datatable .img-wrap img::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/*# sourceMappingURL=back.css.map */
