.collapse {
  margin: 0;
  padding: 0;
  width: 100%; }
  .collapse h3 {
    margin: 1px;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    background-color: #A7957A; }
  .collapse p {
    padding: 15px 30px;
    line-height: 30px;
    background-color: #fff;
    margin: 0; }
  .collapse ul {
    padding: 15px 30px;
    line-height: 30px;
    background-color: #fff;
    margin: 0; }

/*# sourceMappingURL=collapse.css.map */
