.collapse {
  margin: 0;
  padding: 0;
  width: 100%;
}

.collapse h3 {
  margin: 1px;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  background-color: #A7957A;
}

.collapse p {
  padding: 15px 30px;
  line-height: 30px;
  background-color: #fff;
  margin: 0;
}

.collapse ul {
  padding: 15px 30px;
  line-height: 30px;
  background-color: #fff;
  margin: 0;
}

.download-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.download-list h3 {
  display: inline-block;
  margin: 1px;
  color: #A7957A;
  padding: 20px 15px 10px 15px;
  position: relative;
}

.download-list p {
  padding: 15px 30px;
  line-height: 30px;
  background-color: #fff;
  margin: 0;
}

.download-list ul {
  padding: 15px 30px;
  line-height: 30px;
  background-color: #fff;
  margin: 0;
  list-style-type: square;
}

.section-box {
  padding-bottom: 20px;
  border-bottom: 1px dashed #999;
}

.section-box p {
  padding: 15px 30px;
  line-height: 30px;
  background-color: #fff;
  margin: 0;
}

/*# sourceMappingURL=front.css.map */
