@charset "UTF-8";
body {
  background-color: #fff;
  position: relative;
  min-height: 768px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, 微軟正黑體, "Microsoft JhengHei", "Apple LiGothic";
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #353535;
  text-decoration: none;
}

a:visited {
  color: #353535;
}

.max {
  min-width: 1280px;
  min-height: 768px;
  position: relative;
  height: auto;
}

.main-header {
  width: 90%;
  min-width: 1221px;
  max-width: 1280px;
  margin: 0px auto;
  padding: 20px 20px;
}

.main-header .logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  padding-right: 50px;
}

.main-header .header-right {
  float: right;
  vertical-align: middle;
}

.main-header .header-right .nav {
  list-style-type: none;
  display: flex;
}

.main-header .header-right .nav li {
  padding: 10px 0px;
  cursor: pointer;
  width: 110px;
  text-align: center;
  flex-direction: row;
  list-style: none;
  position: relative;
  vertical-align: center;
}

.main-header .header-right .nav li:hover > a {
  color: #f5f8fa;
}

.main-header .header-right .nav li:hover, .main-header .header-right .nav li:focus {
  background-color: #e7ad17;
  transition: all 0.5s;
  color: #fff;
}

.main-header .header-right .nav li:hover > .subul, .main-header .header-right .nav li:active > .subul {
  display: block;
}

.main-header .header-right .nav .subul {
  display: none;
  left: 0px;
  top: 38px;
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(51, 51, 102, 0.2);
}

.main-header .header-right .nav li:hover > a {
  color: #fff;
  font-weight: bold;
}

.main-header .header-right .nav .active {
  background-color: #F1CE73;
  transition: all 0.5s;
  color: #fff;
  font-weight: bold;
}

.main-content {
  min-height: 768px;
}

.main-footer {
  background-color: #A7957A;
  width: 100%;
  bottom: 0px;
}

.footer {
  width: 1280px;
  padding: 20px 0px;
  margin: 0px auto;
  color: #f5f8fa;
  line-height: 22px;
}

/*# sourceMappingURL=header.css.map */
