a, a:hover {
  text-decoration: none; }

.panel-primary {
  border: none;
  border-radius: 15px; }
  .panel-primary .panel-heading {
    background-color: #53bee6;
    border: none;
    font-size: 18px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px; }
  .panel-primary .input-lg {
    font-size: 14px; }

.content-wrapper {
  margin-left: 0px;
  padding: 100px 0px; }

.col-3 {
  width: 33.33%; }

body {
  display: inherit; }

/*# sourceMappingURL=login.css.map */
