.sidebar-box {
  margin-top: 15px;
  margin-right: 15px;
  max-width: 200px;
}

.sidebar-box ul {
  width: 150px;
  background-color: #fff;
  list-style: none;
}

.sidebar-box ul a:first-child li {
  border-top: 5px solid #A7957A;
}

.sidebar-box ul li {
  cursor: pointer;
  padding: 15px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  border-bottom: 1px dashed #A7957A;
}

.sidebar-box ul li:hover:before {
  width: 100%;
  height: 3px;
  transition: all 0.5s;
}

.sidebar-box ul li:hover {
  transition: all 0.5s;
  color: #A7957A;
}

.sidebar-box ul li:before {
  height: 3px;
  transition: all 0.5s;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: inline-block;
  width: 0px;
  background: #A7957A;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  position: relative;
}

.container {
  padding: 30px;
}

/*# sourceMappingURL=sidebar.css.map */
