@charset "UTF-8";
::selection {
  color: #FAF8F4;
  background: #A7957A;
}

html, body {
  height: auto;
}

body {
  font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple LiGothic", "微軟正黑體", "Microsoft JhengHei" !important;
}

* {
  outline: none;
}

.coffee {
  color: #A7957A;
}

.body_bg {
  width: 100%;
  background-color: #fff;
  height: auto;
  margin: 15px 0px 0px 0px;
  padding: 30px 0px;
}

.mid_bg {
  background-image: url("../img/bg.png");
  background-size: 600px;
  background-position: right;
  background-repeat: no-repeat;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0px;
}

.content {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding-bottom: 20px;
}

h1 {
  font-size: 24px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #FAF8F4;
  position: relative;
}

hr::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 1.5px 60px;
  display: inline-block;
  background-color: #A7957A;
}

.flex-row {
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
}

.flex-box {
  display: inline-flex;
  width: 100%;
}

.flex-box .img-wrap {
  width: 345px;
  height: 250px;
}

.flex-box .img-wrap img {
  width: 100%;
  height: 100%;
}

.flex-box .flex-1 {
  flex: 1;
}

.flex-box .flex-2 {
  flex: 2;
}

.flex-box .flex-3 {
  flex: 3;
}

.flex-box .flex-4 {
  flex: 4;
}

.flex-box .flex-5 {
  flex: 5;
}

.flex-box .flex-6 {
  flex: 6;
}

.flex-box .flex-7 {
  flex: 7;
}

.flex-box .flex-8 {
  flex: 8;
}

.flex-box .flex-9 {
  flex: 9;
}

.flex-box .flex-10 {
  flex: 10;
}

.intro .photo-list .flex-1 {
  max-width: 360px;
}

.container {
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(51, 51, 102, 0.2);
  background-color: #fff;
  padding: 25px;
  padding-bottom: 20px;
  margin: 15px;
  position: relative;
}

.container .more {
  position: absolute;
  right: 30px;
  top: 30px;
}

.container .more a, .container .more a:visited {
  color: #A7957A;
  font-size: 12px;
  transition: all 0.1s;
}

.container .more a:hover {
  color: #8f7c5f;
  transition: all 0.1s;
}

.cursor_default {
  cursor: default !important;
}

.form_box {
  padding: 5px 5px;
}

.form_box .form_group {
  margin-top: 5px;
  padding-right: 15px;
}

.form_box .form_group a {
  cursor: pointer;
}

.form_box .form_group .tool {
  padding: 10px 15px;
}

.form_box .number {
  font-size: 18px;
}

.form_box .form_title {
  font-size: 12px;
  color: #999;
  padding-left: 5px;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0px 5px;
  font-size: 14.4px;
  margin-top: 5px;
  transition: all 0.5s;
}

input:focus {
  background-color: #f2f2f2;
  color: #71614a;
  transition: all 0.5s;
}

.btn {
  border: 0px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 14.4px;
  cursor: pointer;
}

.btn-yellow {
  background-color: #F1CE73;
  transition: all 0.5s;
}

.btn-yellow:hover {
  background-color: #ecbe45;
  transition: all 0.5s;
}

.fun-box {
  margin-top: 40px;
}

.fun-box a:visited {
  color: #fff;
}

.btn-fun {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  width: 80px;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

.btn-function {
  background-color: #808EB7;
  transition: all 0.5s;
}

.btn-function:hover {
  background-color: #5f71a5;
  transition: all 0.5s;
}

.btn-success {
  background-color: #71BF50;
  transition: all 0.5s;
}

.btn-warning {
  background-color: #FED43F;
  transition: all 0.5s;
}

.btn-danger {
  background-color: #C26B61;
  transition: all 0.5s;
}

.forget {
  margin-top: 10px;
  text-align: center;
}

.forget a, .forget a:visited {
  color: #A7957A;
  font-size: 12px;
  transition: all 0.1s;
}

.forget a:hover {
  color: #8f7c5f;
  transition: all 0.1s;
}

.capture_box {
  position: relative;
}

.capture_box .capture {
  margin-left: 10px;
  position: absolute;
  bottom: 0;
}

.events {
  width: 60%;
}

#news a, #news a:visited {
  color: #4d4c4c;
  font-size: 16.8px;
  transition: all 0.1s;
}

#news a:hover {
  color: #8f7c5f;
  transition: all 0.1s;
}

#news .list {
  list-style: none;
  padding-left: 25px;
}

#news .list .title {
  width: 100%;
  max-width: 455px;
  padding: 0px 15px;
  display: inline-block;
}

#news .list li {
  margin-top: 22px;
  position: relative;
  vertical-align: middle;
  color: #4d4c4c;
}

#news .list li .date {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 12px;
  color: #999;
}

#news .more {
  position: absolute;
  right: 30px;
  top: 30px;
}

#news .more a, #news .more a:visited {
  color: #A7957A;
  font-size: 12px;
  transition: all 0.1s;
}

#news .more a:hover {
  color: #8f7c5f;
  transition: all 0.1s;
}

#events {
  background-color: rgba(15, 0, 0, 0);
}

#events a, #events a:visited {
  color: #4d4c4c;
  font-size: 16.8px;
  transition: all 0.1s;
}

#events a:hover {
  color: #8f7c5f;
  transition: all 0.1s;
}

#events .list {
  list-style: none;
  padding-left: 25px;
}

#events .list .title {
  margin-left: 15px;
}

#events .list li {
  margin-top: 22px;
  position: relative;
  vertical-align: middle;
  color: #4d4c4c;
}

#events .list li .date {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 12px;
  color: #999;
}

#events .more {
  position: absolute;
  right: 30px;
  top: 30px;
}

#events .more a, #events .more a:visited {
  color: #A7957A;
  font-size: 12px;
  transition: all 0.1s;
}

#events .more a:hover {
  color: #8f7c5f;
  transition: all 0.1s;
}

#events .list li {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

#events .list .brief {
  display: inline-block;
  padding-left: 20px;
}

#events .list .brief .title {
  margin-left: 0px;
}

#events .list .brief .sub-title {
  font-size: 12px;
  display: inline;
}

#events .list .brief .location, #events .list .brief .start {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.no-border {
  box-shadow: none;
}

.day {
  box-shadow: 1px 1px 1px rgba(51, 51, 102, 0.2);
  width: 60px;
  border-radius: 5px;
  display: inline-block;
}

.day .m {
  background-color: #F1CE73;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.day .d {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.photo-list {
  display: flex;
  margin-top: 25px;
}

.photo-list .flex-1 {
  padding: 20px;
}

.photo-list .img-wrap {
  height: 250px;
  overflow: hidden;
}

.photo-list img {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.photo-list .brief {
  position: relative;
}

.photo-list .brief .title {
  padding: 10px;
  display: inline-block;
}

.photo-list .brief .right-brief {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 0px;
  border-left: 1px solid #b3b2b2;
  padding-left: 20px;
}

.photo-list .brief .right-brief a {
  color: #F1CE73;
  transition: all 0.5s;
}

.photo-list .brief .right-brief a:hover {
  color: #ecbe45;
  transition: all 0.5s;
}

.photo-list .brief .right-brief .date {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.bg-coffee {
  background-color: #FAF8F4;
}

.text-box {
  line-height: 25px;
}

.table {
  margin-top: 15px;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}

.table thead {
  padding-left: 15px;
}

.table thead tr {
  border-bottom: 2px solid #bbad99;
}

.table thead th {
  padding-top: 10px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
}

.table tbody {
  padding-left: 15px;
}

.table tbody tr:hover {
  cursor: default;
  background-color: #A7957A;
  color: #fff;
}

.table tbody tr:hover a {
  color: #fff;
}

.table tbody tr:hover a:hover {
  color: #F1CE73;
}

.table tbody td {
  padding: 20px 10px;
  text-align: left;
  border-bottom: 1px dashed #A7957A;
}

.col-3 {
  width: 30%;
  padding: 10px;
}

.text-right {
  text-align: right;
}

.login-box {
  width: 500px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(51, 51, 102, 0.2);
  background-color: #fff;
  padding: 25px;
  padding-bottom: 20px;
}

.info-text {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e6e5e5;
  line-height: 30px;
}

.info-text .info-title {
  font-size: 18px;
  font-weight: bold;
}

.info-text ul {
  list-style: none;
}

.info-text ul li {
  font-size: 14px;
}

.flex {
  display: flex;
}

.middle {
  align-items: center;
  justify-content: center;
}

.sign-box {
  width: 800px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(51, 51, 102, 0.2);
  background-color: #fff;
  padding: 25px;
  padding-bottom: 20px;
}

.table-section {
  margin-top: 20px;
}

.table-section td {
  padding-right: 10px;
}

.table-section input {
  padding: 0px;
  padding-left: 15px;
}

.table-section .table-title {
  text-align: right;
  width: 100px;
  height: 50px;
  position: relative;
}

.table-section .table-title:after {
  content: "*";
  color: #A7957A;
  position: absolute;
  font-size: 20px;
  right: 0px;
}

.error-list {
  position: fixed;
  top: 0px;
  right: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 10px rgba(51, 51, 102, 0.5);
}

.error-list li {
  list-style: none;
  padding-top: 20px;
}

.error-list .error-column {
  color: #ff6666;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ddd;
}

.hide {
  display: none;
}

.alert {
  padding: 30px 20px;
  border-radius: 5px;
  margin: 20px 0px;
}

.empty-box {
  margin-bottom: 50px;
}

.status-box {
  margin-top: 20px;
}

.status-box .sub-title {
  font-size: 14px;
  color: #888;
}

.table-border-left {
  border: 1px solid #e4ded6;
  border-left: 4px solid #A7957A;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}

.table-border-left td {
  padding: 10px;
  border: 1px solid #e4ded6;
}

.table-border-left .table-title-right {
  text-align: right;
  width: 120px;
}

.info_button {
  position: fixed;
  bottom: 200px;
  left: 5px;
  background: #A7957A;
  padding: 5px;
  cursor: pointer;
}

.info_button:hover {
  background: #8f7c5f;
}

.help_div {
  margin-top: 5px;
}

.help_div .sort_num {
  background: #A7957A;
  border-radius: 100%;
  color: white;
  align-content: center;
  font-size: 28px;
  width: 35px;
  height: 35px;
  display: inline-block !important;
}

.help_div .content {
  align-content: left;
  display: inline-block !important;
  width: auto !important;
}

.help_div .content li {
  display: inline-block;
  font-size: 14px;
}

.master_row .intro {
  padding-left: 10px;
  width: 20% !important;
}

.master_intro {
  width: 40%;
}

.master_intro .title {
  font-size: 24px;
}

.master_intro .subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: #A7957A;
}

.master_intro .dog_content {
  font-size: 18px;
}

.dog_row {
  width: 100%;
  display: inline-flex;
  margin-bottom: 40px;
}

.dog_row hr {
  border: 2px solid #868585;
}

.dog_row .img {
  flex-direction: row;
  width: 40%;
}

.dog_row .img .dog {
  width: 360px;
  height: 250px;
}

.dog_row .intro {
  padding-left: 5px;
  flex-direction: row;
  width: 50%;
}

.dog_row .intro .title {
  font-size: 24px;
}

.dog_row .intro .subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: #A7957A;
}

.dog_row .intro .dog_content {
  font-size: 18px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #A7957A;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #9d896b;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #A7957A;
  border-color: #A7957A;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

/*# sourceMappingURL=style.css.map */
