
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: lighten(#000,30%);

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;



//customer
$font-color: #353535;
$temp_yellow: #F1CE73;
$temp_coffee: #A7957A;
$temp_gray: #999;
$temp_bg: #FAF8F4;
$temp_white: #f5f8fa;
$success : #71BF50;
$warning : #FED43F;
$danger:#C26B61;
$function:#808EB7;

$size:12px;
$list-font-size: $size*1.4;
$nav_size:       $size*1.5; //18
$h1_size:        $size*2;


$screen_size : 1280px;

