@import "variables";

h1{
    font-size:26px;
}
.dog_album{
    margin-left:25px;
}
.img-wrap{
    cursor: pointer;
    position: relative;
    // padding: 5px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        opacity: 0.9;
        transition: all 0.5s;
    }
}
.album-title{
    width:100%;
    overflow: hidden;
    position: absolute;
    left:0px;
    bottom:0px;
    z-index: 2;
}
.album-content{
    position: relative;
    padding: 15px;
    padding-right: 30px;
    font-size:$list-font-size;
    background:rgba(0,0,0,0.6);
    color:white;
}

.photo-list {
    margin-top: 0px;
}
.photo-title{
    text-align: center;
    position: absolute;
    border-bottom: 0px;
    left:0px;
}
//.album-title::after{
//    content: ' ';
//    background-color: $temp_yellow;
//    width:130px;
//    height:40px;
//    position: absolute;
//    z-index: 1;
//    bottom: 25px;
//    left:-25px;
//    transform-origin:bottom;
//    transform:skewX(-30deg);
//    transition: all 0.5s ease;
//    box-shadow: 1px 1px 3px darken($temp_yellow,50%);
//}