.container{
    padding: 0px 50px;
    padding-bottom: 80px;
}
.table{
    font-size:18px;

    //tbody>tr:nth-child(odd){
    //    //background-color:#f4f4f4;
    //    border-top:0px;
    //}

    tbody>tr,tbody>td{
        border-top:0px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 100%;
        min-width: 970px;
    }
}
.div_relative{
    position: relative;

    form{
        display: inline-block;
    }
}
.btn-right{
    position: absolute;
    right: 0px;
}
.file-note{
    font-size:12px;
    color:orangered;
}

@for $i from 1 through 10 {
    .col-#{$i} { width: percentage($i/10) ; }
}

.info-text{
    padding:15px;
    border-radius: 5px;
    border:1px solid lighten(#999,30%);
    line-height: 30px;
    .info-title{
        font-size:18px;
        font-weight: bold;
    }
    ul{
        list-style: none;
        li{
            font-size:14px;
        }
    }
}
.error-list{
    padding-left:30px;
}