.img-wrap{
    width:450px;
    height:auto;
    img{
        width:100%;
        vertical-align: middle;
    }
    img::after{
        content:"";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

