//
//$font-color: #353535;
//$temp_yellow: #F1CE73;
//$temp_coffee: #A7957A;
//$temp_bg: #FAF8F4;
//
//$temp_white: #f5f8fa;
//
//$size:12px;
//$nav_size:$size*1.5;
//
//$screen_size : 1280px;
@import "variables";

body{
  background-color: #fff;
  position: relative;
}

*{
  //border:1px solid;
  margin:0;
  padding:0;
}


a{
  color:$font-color;
  text-decoration: none;
}
a:visited{
  color:$font-color;
}

//最大視窗
.max{
  //padding:20px 0px;
  min-width: $screen_size;
  min-height:768px;
  // position: relative;
  height:auto;
}


//最大視窗後，往內縮10%
.main-header{
  width: 90%;
  max-width: 1280px;
  //display: inline-flex;
  margin:0px auto;
  padding: 40px 20px;

  //左邊logo
  .logo{
    display: inline-block;
    vertical-align: middle;
    font-size:30px;
  }

  //header右邊menu
  .header-right{
    float:right;
    vertical-align: middle;
    .nav{
      font-weight: 500;
      ul,li{
        float:left;
        list-style: none;
        font-size:$nav_size;
      }
      li{
        cursor:pointer;
        padding:10px 20px;
        position:relative;

        .title{
          //color:#fff;
        }
      }
      li:hover>a{
        color:$temp_white;
      }

      & li:hover,& li:focus{
        //background-color: $temp_yellow;
        background-color: darken($temp_yellow,20%);
        transition: all 0.5s;
        color:#fff;
        font-weight: bold;
      }
      & li:hover > ul{
        display: block;

      }

      .subul{
        float:left;
        display: none;
        left:0px;
        top:38px;
        position: absolute;
        z-index: 999;
        width: 100%;
        background-color: lighten($temp_bg,10%);
        box-shadow: 0px 1px 1px rgba(20%,20%,40%,0.2);


        li{
          font-weight: 100;
        }
        li:hover>a{
          color:#fff;
          font-weight: bold;
        }
      }
      .active{
        background-color: $temp_yellow;
        transition: all 0.5s;
        color:#fff;
        font-weight: bold;

      }


    }
  }


}

.main-content{
  margin-bottom: 100px;
}

.main-footer{
  //background-color: red;
  background-color: $temp_coffee;
  width:100%;
  bottom: 0px;
}
.footer{
  width: 1280px;
  padding:20px 0px;
  margin:0px auto;
  color:$temp_white;
  line-height: 22px;
}