@import "variables";


.sidebar-box{
    margin-top: 15px;
    margin-right: 15px;
    max-width:200px;

    ul{
        width:150px;
        background-color:#fff;
        list-style: none;

        a:first-child li{
            border-top: 5px solid $temp_coffee;
        }

        li{
            cursor: pointer;
            padding:15px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            font-size:20px;
            border-bottom: 1px dashed $temp_coffee;
        }

        li:hover:before{
            width: 100%;
            height:3px;
            transition:all 0.5s;
        }

        li:hover{
            transition:all 0.5s;
            color:$temp_coffee;
        }

        li:before{
            height:3px;
            transition:all 0.5s;
            position: absolute;
            bottom: -1px;
            left:0;
            content: "";
            display: inline-block;
            width: 0px;
            background: $temp_coffee;
        }
    }
}
hr{
    margin-top: 10px;
    margin-bottom: 20px;
    border:2px solid #fff;
    position: relative;
}
.container{
    padding:30px;
}