@import "variables";
::selection {
  color: $temp_bg;
  background: $temp_coffee;
}
html, body{
  height: auto;
}
h1{
  font-weight: 500;
}
body{
  font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple LiGothic", "微軟正黑體", "Microsoft JhengHei" !important;
}

*{
  outline: none;
}

.apply-now-btn{
    border:none;
    background-color: $temp_yellow;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      background-color: darken($temp_yellow, 5%);
    }
}

.coffee{
  color: $temp_coffee;
}

.body_bg{
  width:100%;
  background-color: #fff;
  height: auto;
  margin: 15px 0px 0px 0px;
  padding: 30px 0px;
}

.mid_bg{
  //background-color:$temp_bg;
  background-image:url("../img/bg.png");
  background-size: 600px;
  background-position: right;
  background-repeat: no-repeat;
  height: auto;
  margin-bottom: 20px;
  padding:20px 0px;
}


.content{
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding-bottom:20px;
}

h1{
  font-size:$h1_size;
}


hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border:2px solid $temp_bg;
  position: relative;
}
hr::before{
  content: "";
  position: absolute;
  top:-1px;
  left:-1px;
  padding:1.5px 60px;
  display: inline-block;
  background-color: $temp_coffee;
}

.flex-row{
  flex-flow: row wrap;
}
.flex-center{
 justify-content: center;
}
.flex-box{
  display: inline-flex;
  width: 100%;
  //padding:20px;

  .img-wrap{
    width: 345px;
    height:250px;

    img{
      width:100%;
      height: 100%;
    }
  }

  @for $i from 1 through 10 {
    .flex-#{$i}) {
      flex:#{$i};
    }
  }
}

.intro .photo-list .flex-1{
  max-width: 360px;

}
.container{
  //width: 500px;
  //height:300px;
  height:auto;
  border-radius: 5px;
  //border:1px solid #000;
  box-shadow: 1px 1px 1px rgba(20%,20%,40%,0.2);
  background-color: #fff;
  padding:25px;
  padding-bottom: 20px;
  margin:15px;
  position: relative;

  .more{
    position: absolute;
    right:30px;
    top:30px;
    a, a:visited{
      color:$temp_coffee;
      font-size:$size;
      transition: all 0.1s;
    }
    a:hover{
      color:darken($temp_coffee,10%);
      transition: all 0.1s;
    }
  }

}
.cursor_default{
  cursor:default !important;
}

.form_box{
  padding:5px 5px;

  .form_group{
    margin-top: 5px;
    padding-right: 15px;
    a{
      cursor: pointer;
    }
    .tool{
      padding:10px 15px;
    }
  }
  .number{
   font-size:18px;

  }
  .form_title{
    font-size: $size;
    color:$temp_gray;
    padding-left: 5px;
    margin-bottom: 5px;
  }
}


input,select{
  width: 100%;
  height:30px;
  border-radius: 5px;
  border:1px solid #ddd;
  padding: 0px 5px;
  font-size: $size*1.2;
  margin-top:5px;
  transition: all 0.5s;
}

input:focus{
  background-color: darken(#fff,5%);
  color:darken($temp_coffee,20%);
  transition: all 0.5s;
}

.btn{
  border:0px;
  width: 100%;
  height:30px;
  border-radius: 5px;
  color:#fff;
  font-size: $size*1.2;
  cursor: pointer;

}

.btn-yellow{
  background-color: $temp_yellow;
  transition: all 0.5s;
  &:hover{
    background-color: darken($temp_yellow,10%);
    transition: all 0.5s;
  }
}
.fun-box{
  a:visited{
    color:#fff;
  }
  margin-top: 40px;
}
.btn-fun{
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  width: 80px;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
  color:#fff;
}

.btn-function{
  background-color: $function;
  transition: all 0.5s;
  &:hover{
    background-color: darken($function,10%);
    transition: all 0.5s;
  }
}
.btn-success{
  background-color: $success;
  transition: all 0.5s;
}
.btn-warning{
  background-color: $warning;
  transition: all 0.5s;
}
.btn-danger{
  background-color: $danger;
  transition: all 0.5s;
}
.forget{
  margin-top:10px;
  text-align: center;

  a, a:visited{
    color:$temp_coffee;
    font-size:$size;
    transition: all 0.1s;
  }
  a:hover{
    color:darken($temp_coffee,10%);
    transition: all 0.1s;
  }
}

.capture_box{
  position: relative;

  .capture{
    margin-left:10px;
    position: absolute;
    bottom:0;
  }
}

.events{
  width:60%;
}

#news{
  a, a:visited{
    color:$text-color;
    font-size:$list-font-size;
    transition: all 0.1s;
  }
  a:hover{
    color:darken($temp_coffee,10%);
    transition: all 0.1s;
  }
  .list{
    list-style: none;
    padding-left:25px;
    //margin-top:25px;

    .title{
      width: 100%;
      max-width: 455px;
      padding: 0px 15px;
      display: inline-block;
    }

    li{
      margin-top:22px;
      position: relative;
      vertical-align: middle;
      color:$text-color;
      .date{
        position: absolute;
        right:20px;
        top:5px;
        font-size:12px;
        color:$temp_gray;
      }
    }
  }
  .more{
    position: absolute;
    right:30px;
    top:30px;
    a, a:visited{
      color:$temp_coffee;
      font-size:$size;
      transition: all 0.1s;
    }
    a:hover{
      color:darken($temp_coffee,10%);
      transition: all 0.1s;
    }
  }
}

#events{
  a, a:visited{
    color:$text-color;
    font-size:$list-font-size;
    transition: all 0.1s;
  }
  a:hover{
    color:darken($temp_coffee,10%);
    transition: all 0.1s;
  }
  .list{
    list-style: none;
    padding-left:25px;
    //margin-top:25px;

    .title{
      margin-left: 15px;
    }

    li{
      margin-top:22px;
      position: relative;
      vertical-align: middle;
      color:$text-color;
      .date{
        position: absolute;
        right:20px;
        top:5px;
        font-size:12px;
        color:$temp_gray;
      }
    }
  }
  .more{
    position: absolute;
    right:30px;
    top:30px;
    a, a:visited{
      color:$temp_coffee;
      font-size:$size;
      transition: all 0.1s;
    }
    a:hover{
      color:darken($temp_coffee,10%);
      transition: all 0.1s;
    }
  }
  background-color: rgba(6%,0%,0%,0);
  .list {
    li {
      margin-top: 50px;
      display: flex;
      align-items: center;
    }
    .brief{
      display: inline-block;
      padding-left:20px;


      .title{
        margin-left: 0px;
      }
      .sub-title{
        font-size:12px;
        display: inline;
      }

      .location,.start{
        display: inline-block;
        margin-top: 10px;
        margin-right:10px;
      }

    }


  }
}
.no-border{
  box-shadow: none;
}

.day{
  box-shadow: 1px 1px 1px rgba(20%,20%,40%,0.2);
  width:60px;
  //height:60px;
  border-radius: 5px;
  display: inline-block;
  .m{
    background-color: $temp_yellow;
    color:#fff;
    padding-top:5px;
    padding-bottom:5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
  }
  .d{
    font-size:30px;
    font-weight: bolder;
    text-align: center;
    //padding: 5px 0px;
  }
}


.photo-list{
  display: flex;
  margin-top:25px;

  .flex-1{
    padding:20px;
  }

  .img-wrap{
    height:250px;
    overflow: hidden;
  }
  img{
    width: 100%;
    height: 100%;
    margin-right: 20px;
  }

  .brief{
    position: relative;
    .title{
      padding:10px;
      display: inline-block;
    }
    .right-brief{
      position: absolute;
      text-align: right;
      top:10px;
      right:0px;
      border-left:1px solid lighten($temp_gray,10%);
      padding-left: 20px;
      a{
        color:$temp_yellow;
        transition: all 0.5s;
      }

      a:hover{
        color:darken($temp_yellow,10%);
        transition: all 0.5s;
      }

      .date{
        font-size:14px;
        color:$temp_gray;
        margin-top:5px;
      }
    }
  }
}

.flex-1{
  flex: 1;
}
.flex-2{
  flex:2;
}

.bg-coffee{
  background-color: $temp_bg;
}
.text-box{
  line-height: 25px;
}
.table{
    margin-top:15px;
    width:100%;
    background-color: lighten($temp_bg,30%);
    border-collapse: collapse;
    thead {
        padding-left:15px;
        tr{
            border-bottom:2px solid lighten($temp_coffee,10%);
        }
        th {
            padding-top: 10px;
            text-align: left;
            padding-left:20px;
            padding-bottom: 10px;
        }
    }
    tbody{
        padding-left:15px;
        tr:hover{
            cursor: default;
            background-color: $temp_coffee;
            color:#fff;
            a{
              color:#fff;
            }
            a:hover{
                color:$temp_yellow;
            }
        }
        td {
            padding:20px 10px;
            text-align: left;
            border-bottom: 1px dashed $temp_coffee;
        }
    }

}

.col-3{
  width: 30%;
  padding:10px;
}

.text-right{
  text-align: right;
}


.login-box{
  width:500px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(51, 51, 102, 0.2);
  background-color: #fff;
  padding: 25px;
  padding-bottom: 20px;
}

.info-text{
  padding:15px;
  border-radius: 5px;
  border:1px solid lighten($temp_gray,30%);
  line-height: 30px;
  .info-title{
    font-size:18px;
    font-weight: bold;
  }
  ul{
    list-style: none;
    li{
      font-size:14px;
    }
  }
}

.flex{
  display: flex;
}
.middle{
  align-items: center;
  justify-content: center;
}
.sign-box{
  width: 800px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(51, 51, 102, 0.2);
  background-color: #fff;
  padding: 25px;
  padding-bottom: 20px;
}


.table-section{
  margin-top:20px;
  td{
    padding-right: 10px;
  }
  input{
    padding:0px;
    padding-left: 15px;
  }
  .table-title{
    text-align: right;
    width:100px;
    height:50px;
    position: relative;
  }
  .table-title:after{
    content: "*";
    color:$temp_coffee;
    position: absolute;
    font-size: 20px;
    right:0px;
  }

}



.error-list{
  position: fixed;
  top:0px;
  right:10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 10px rgba(51, 51, 102, 0.5);

  li{
    list-style: none;
    padding-top: 20px;
  }

  .error-column{
    color:lighten(red,20%);
    background-color: #eee;
    border-radius: 5px;
    padding:5px;
    border:1px solid #ddd;
  }
}

.hide{
  display: none;
}


.alert{
  padding:30px 20px;
  border-radius: 5px;
  margin:20px 0px;
}

.empty-box{
  margin-bottom:50px;
}
.status-box{
  margin-top:20px;

  .sub-title{
    font-size: 14px;
    color: #888;
  }
}

.table-border-left{
  border:1px solid lighten($temp_coffee,30%);
  border-left:4px solid $temp_coffee;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;

  td{
    padding:10px;
    border:1px solid lighten($temp_coffee,30%);

  }

  .table-title-right{
    text-align: right;
    width:120px;
  }
}

.info_button{
  position: fixed;
  bottom:200px;
  left:5px;
  background: $temp_coffee;
  padding:5px;
  cursor: pointer;
  &:hover{
    background: darken($temp_coffee,10%);
  }
}

.help_div{
  margin-top: 5px;
  .sort_num{
    background: $temp_coffee;
    border-radius: 100%;
    color:white;
    align-content: center;
    font-size:28px;
    width:35px;
    height:35px;
    display: inline-block !important;
  }
  .content{
    align-content: left;
    display: inline-block !important;
    width:auto !important;

    li{
      display: inline-block;
      font-size: 14px;
    }
  }
}

.master_row{
  .intro{
    padding-left: 10px;
    width: 20% !important;
  }
}

.master_intro{
  width: 40%;

  .title{
    font-size: 24px;
  }
  .subtitle{
    margin-top:5px;
    font-size:14px;
    color:$temp_coffee;
  }
  .dog_content{
    font-size:18px;
  }
}
.dog_row{
  width:100%;
  display:inline-flex; 
  margin-bottom: 40px;
  hr{
    border: 2px solid #868585;
  }   
  .img{
    flex-direction: row;
    width:40%;
    .dog{
      width:360px;
      height:250px;
    }
  }
  .intro{
    padding-left:5px;
    flex-direction: row;
    width:50%;
    .title{
      font-size: 24px;
    }
    .subtitle{
      margin-top:5px;
      font-size:14px;
      color:$temp_coffee;
    }
    .dog_content{
      font-size:18px;
    }

  }
}







