$back_yellow : #fefbed;

$order : #D8D8D8; // 最淺灰
$num : #C3C8CC; //  中灰
$edit: #9B9B9B;//深灰
$font : #4A4A4A; //黑
$order-temp : #4990E2; //藍


$order-width : 700px; //表格大小
$num-width : 50px; //排序號碼大小
$img-width : 160px; //圖片大小
$content-width : $order-width - $num-width -$img-width;

*{
    margin:0;
    padding:0;
}
.body-wrap{
    padding-bottom:50px;
    max-width: 1024px;
}
.flex{
    display: flex;
}
.end-right{
    justify-content: flex-end;
}
h3{
    color:$font;
}
.middle{
    align-items:center;
}
.center{
    justify-content:center;
}

.content-wrap-footer{
    margin-top:5px;
}

.edit-bd{
    border:1px $edit solid;
}
.my-btn{
    cursor: pointer;

    font-size: 14px;
    border-radius: 9px;
    border:0px;
    padding:8px 15px;
}
.my-btn-md{
    padding:8px 25px;
}


.show{
    display:inline-block;
}
.hide{
    display: none;
}
.notify{
    position: relative;
    .notify-sm{
        text-align: center;
        width:150px;
        font-weight: bold;
        bottom: 43px;
        right: 0px;
        font-size:10px;
        padding:5px 10px;
        border-radius: 5px;
        position: absolute;
        &::before{
            position: absolute;
            bottom:-10px;
            right:20px;
            content: '';
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: $edit transparent transparent transparent;
        }
        &::after{
            position: absolute;
            bottom:-9px;
            right:20px;
            content: '';
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: white transparent transparent transparent;
        }
    }
}




.order-content{
    padding:10px;
    padding-bottom:30px;
    width:$order-width;
    //border-top:3px $order solid;

    .order-item{
        display: flex;
        border:1px solid $num;

        //min-width:$order-width;
        background-color: white;
        min-height:120px;
        height: auto;
        margin:10px 0px;


        //排序數字排序數字排序數字排序數字排序數字排序數字
        .num-wrap{
            width:$num-width;
            display: flex;
            height:auto;
            background-color: $num;
            color:#fff;

            .num{
                font-size: 20px;
                font-weight: bolder;
            }

        }
        .num-bg {
            background-color: $num;
            color: white;
        }
        .num-selected {
            background-color: $order-temp;
        }


        //圖片
        .img-wrap{
            width:450px;
            height:auto;
            border-right:1px $num solid;
            img{
                width:100%;
                vertical-align: middle;
            }
            img::after{
                content:"";
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
        }

        //內容概要
        .content-wrap{
            display: flex;
            width: $content-width;

            //內容概要
            .content-wrap-title{
                width:80%;
                padding-left: 10px;

                .title{
                    font-size: 20px;
                }
            }

            //編輯按鈕
            .edit{
                display: flex;
                justify-content: center;
                width:20%;
                height:100%;
                align-items: center;
                .circle:hover {

                    background-color: darken($edit,10%);
                    cursor: pointer;
                    transition: 0.3s all;
                }
                .circle{
                    transition: 0.3s all;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction:column;
                    background-color: $edit;
                    width:60px;
                    height:60px;
                    border-radius: 100%;
                    position: relative;
                    .edit-icon{
                        margin-left:7px;
                        width:100%;
                        color:white;
                    }
                    .edit-text{
                        width:100%;
                        text-align: center;
                        font-size:12px;
                        color:white;
                    }
                }
            }
        }
    }
    .num-selected-border {
        border:1px solid $order-temp;
    }

}



.yvt-orders{
    background-color: $back_yellow;
    padding: 25px;
    border-left:5px solid #f1a417;
    .close-box, .open-box{
        position: absolute;
        right:10px;
        top:10px;
        cursor: pointer;
    }

    .open-box {
        display: none;
    }
}

.orders-img-wrap{
    display: inline-block;
}
.orders-content-wrap{
    display: block;
}

.table-height{
    height:40px;
}
.table-title{
    width:180px;
}

///////////////start顏色區塊//////////////////
.white-bg{
    background-color: white;
}

.order-temp-border{
    border: 1px solid $order-temp;
}
.order-temp-bg{
    background-color: $order-temp;
    color:white;
}
.order-temp-bg:hover{
    background-color: darken($order-temp,10%);
}
.order-temp-color{
    color:$order-temp;
}


.edit-border{
    border:1px solid $edit;
}
.edit-bg{
    background-color: $edit;
    color:white;
}
.edit-bg:hover{
    background-color: darken($edit,10%);
}
.edit-color{
    color:$edit;
}
///////////////end 顏色區塊//////////////////

.drag{
    margin-top:10px;
}
.drag-enable{
    padding:10px;
    border:2px solid $order-temp;
}

.order-selected{
    border: 1px solid #C3C8CC;
    min-height: 200px;
    margin: 10px 0px;
    background-color: $back_yellow;
}
