
@import "../variables";


.collapse {
    margin: 0;
    padding: 0;
    width: 100%;


    h3 {
        margin: 1px;
        color: #fff;
        padding: 10px 15px;
        cursor: pointer;
        position: relative;
        background-color:$temp_coffee;
    }
    p {
        padding: 15px 30px;
        line-height: 30px;
        background-color:#fff;
        margin: 0;
    }
    ul{
        padding: 15px 30px;
        line-height: 30px;
        background-color:#fff;
        margin: 0;
    }

}
