
@import "../variables";


.download-list{
    margin: 0;
    padding: 0;
    width: 100%;


    h3 {
        display: inline-block;
        margin: 1px;
        color: $temp_coffee;
        padding: 20px 15px 10px 15px;
        position: relative;
    }
    p {
        padding: 15px 30px;
        line-height: 30px;
        background-color:#fff;
        margin: 0;
    }
    ul{
        padding: 15px 30px;
        line-height: 30px;
        background-color:#fff;
        margin: 0;
        list-style-type: square;
    }

}
.section-box{
    p {
        padding: 15px 30px;
        line-height: 30px;
        background-color: $temp_yellow;
        margin: 0;
        a{
            color: white;
        }
    }
    p:hover{
        background-color: darken($temp_yellow, 10%);
    }
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed $temp_gray;
}














