body {
  background-color: #fff;
  position: relative; }

* {
  margin: 0;
  padding: 0; }

a {
  color: #353535;
  text-decoration: none; }

a:visited {
  color: #353535; }

.max {
  min-width: 1280px;
  min-height: 768px;
  position: relative;
  height: auto; }

.main-header {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 40px 20px; }
  .main-header .logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px; }
  .main-header .header-right {
    float: right;
    vertical-align: middle; }
    .main-header .header-right .nav {
      font-weight: 500; }
      .main-header .header-right .nav ul, .main-header .header-right .nav li {
        float: left;
        list-style: none;
        font-size: 18px; }
      .main-header .header-right .nav li {
        cursor: pointer;
        padding: 10px 20px;
        position: relative; }
      .main-header .header-right .nav li:hover > a {
        color: #f5f8fa; }
      .main-header .header-right .nav li:hover, .main-header .header-right .nav li:focus {
        background-color: #e7ad17;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        color: #fff;
        font-weight: bold; }
      .main-header .header-right .nav li:hover > ul {
        display: block; }
      .main-header .header-right .nav .subul {
        float: left;
        display: none;
        left: 0px;
        top: 38px;
        position: absolute;
        z-index: 999;
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 1px rgba(51, 51, 102, 0.2); }
        .main-header .header-right .nav .subul li {
          font-weight: 100; }
        .main-header .header-right .nav .subul li:hover > a {
          color: #fff;
          font-weight: bold; }
      .main-header .header-right .nav .active {
        background-color: #F1CE73;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        color: #fff;
        font-weight: bold; }

.main-content {
  margin-bottom: 100px; }

.main-footer {
  background-color: #A7957A;
  width: 100%;
  position: absolute;
  bottom: 0px; }

.footer {
  width: 1280px;
  padding: 20px 0px;
  margin: 0px auto;
  color: #f5f8fa;
  line-height: 22px; }

/*# sourceMappingURL=header.css.map */
