.sidebar-box {
  margin-top: 15px;
  margin-right: 15px;
  max-width: 200px; }
  .sidebar-box ul {
    background-color: #FAF8F4;
    list-style: none; }
    .sidebar-box ul li:first-child {
      border-top: 5px solid #A7957A; }
    .sidebar-box ul li {
      cursor: pointer;
      padding: 20px;
      position: relative;
      text-align: center;
      vertical-align: middle;
      font-size: 20px;
      border-bottom: 1px dashed #A7957A; }
    .sidebar-box ul li:hover:before {
      width: 100%;
      height: 3px;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    .sidebar-box ul li:hover {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      color: #A7957A; }
    .sidebar-box ul li:before {
      height: 3px;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      position: absolute;
      bottom: -1px;
      left: 0;
      content: "";
      display: inline-block;
      width: 0px;
      background: #A7957A; }

hr {
  margin-top: 5px;
  border: 2px solid #fff;
  position: relative; }

.container {
  padding: 30px; }

/*# sourceMappingURL=sidebar.css.map */
