::-moz-selection {
  color: #FAF8F4;
  background: #A7957A; }

::selection {
  color: #FAF8F4;
  background: #A7957A; }

* {
  outline: none; }

.coffee {
  color: #A7957A; }

.body_bg {
  background-color: #FAF8F4;
  height: auto;
  padding: 20px 0px; }

.mid_bg {
  background-image: url("../img/bg.png");
  background-size: 600px;
  background-position: right;
  background-repeat: no-repeat;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0px; }

.content {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto; }

h1 {
  font-size: 24px; }

hr {
  margin-top: 5px;
  border: 2px solid #FAF8F4;
  position: relative; }

hr::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 1.5px 60px;
  display: inline-block;
  background-color: #A7957A; }

.flex-box {
  display: -webkit-inline-box;
  display: inline-flex;
  width: 100%; }
  .flex-box .flex-1 {
    -webkit-box-flex: 1;
    flex: 1; }
  .flex-box .flex-2 {
    -webkit-box-flex: 2;
    flex: 2; }
  .flex-box .flex-3 {
    -webkit-box-flex: 3;
    flex: 3; }
  .flex-box .flex-4 {
    -webkit-box-flex: 4;
    flex: 4; }
  .flex-box .flex-5 {
    -webkit-box-flex: 5;
    flex: 5; }
  .flex-box .flex-6 {
    -webkit-box-flex: 6;
    flex: 6; }
  .flex-box .flex-7 {
    -webkit-box-flex: 7;
    flex: 7; }
  .flex-box .flex-8 {
    -webkit-box-flex: 8;
    flex: 8; }
  .flex-box .flex-9 {
    -webkit-box-flex: 9;
    flex: 9; }
  .flex-box .flex-10 {
    -webkit-box-flex: 10;
    flex: 10; }

.container {
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(51, 51, 102, 0.2);
  background-color: #fff;
  padding: 25px;
  padding-bottom: 10px;
  margin: 15px;
  position: relative; }
  .container .more {
    position: absolute;
    right: 30px;
    top: 30px; }
    .container .more a, .container .more a:visited {
      color: #A7957A;
      font-size: 12px;
      -webkit-transition: all 0.1s;
      transition: all 0.1s; }
    .container .more a:hover {
      color: #8f7c5f;
      -webkit-transition: all 0.1s;
      transition: all 0.1s; }

.form_box {
  padding: 5px 5px; }
  .form_box .form_group {
    margin-top: 15px;
    padding-right: 15px; }
  .form_box .form_title {
    font-size: 12px;
    color: #999;
    padding-left: 5px;
    margin-bottom: 5px; }

input[type="text"] {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0px 5px;
  font-size: 14.4px;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

input[type="text"]:focus {
  background-color: #f2f2f2;
  color: #71614a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.btn {
  border: 0px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 14.4px;
  cursor: pointer; }
  .btn:hover {
    background-color: #ecbe45;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

.btn-yellow {
  background-color: #F1CE73;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.forget {
  margin-top: 10px;
  text-align: center; }
  .forget a, .forget a:visited {
    color: #A7957A;
    font-size: 12px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
  .forget a:hover {
    color: #8f7c5f;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }

.capture_box {
  position: relative; }
  .capture_box .capture {
    position: absolute;
    bottom: 0; }

.events {
  width: 60%; }

#news a, #news a:visited, #events a, #events a:visited {
  color: #4d4d4d;
  font-size: 16.8px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }

#news a:hover, #events a:hover {
  color: #8f7c5f;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }

#news .list, #events .list {
  list-style: none;
  padding-left: 25px;
  margin-top: 25px; }
  #news .list .title, #events .list .title {
    margin-left: 15px; }
  #news .list li, #events .list li {
    margin-top: 22px;
    position: relative;
    vertical-align: middle;
    color: #4d4d4d; }
    #news .list li .date, #events .list li .date {
      position: absolute;
      right: 20px;
      top: 5px;
      font-size: 12px;
      color: #999; }

#news .more, #events .more {
  position: absolute;
  right: 30px;
  top: 30px; }
  #news .more a, #news .more a:visited, #events .more a, #events .more a:visited {
    color: #A7957A;
    font-size: 12px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
  #news .more a:hover, #events .more a:hover {
    color: #8f7c5f;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }

#events {
  background-color: rgba(15, 0, 0, 0); }
  #events .list li {
    margin-top: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center; }
  #events .list .brief {
    display: inline-block;
    padding-left: 20px; }
    #events .list .brief .title {
      margin-left: 0px; }
    #events .list .brief .sub-title {
      font-size: 12px;
      display: inline; }
    #events .list .brief .location, #events .list .brief .start {
      display: inline-block;
      margin-top: 10px;
      margin-right: 10px; }

.no-border {
  box-shadow: none; }

.day {
  box-shadow: 1px 1px 1px rgba(51, 51, 102, 0.2);
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: inline-block; }
  .day .m {
    background-color: #F1CE73;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center; }
  .day .d {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 5px 0px; }

.photo-list {
  display: -webkit-box;
  display: flex;
  margin-top: 25px; }
  .photo-list .flex-1 {
    padding: 20px; }
  .photo-list .img-wrap {
    height: 200px;
    overflow: hidden; }
  .photo-list img {
    width: 100%; }
  .photo-list .brief {
    position: relative; }
    .photo-list .brief .title {
      padding: 10px;
      display: inline-block; }
    .photo-list .brief .right-brief {
      position: absolute;
      text-align: right;
      top: 10px;
      right: 0px;
      border-left: 1px solid #b3b3b3;
      padding-left: 60px; }
      .photo-list .brief .right-brief a {
        color: #F1CE73;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
      .photo-list .brief .right-brief a:hover {
        color: #ecbe45;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
      .photo-list .brief .right-brief .date {
        font-size: 14px;
        color: #999;
        margin-top: 5px; }

.flex-1 {
  -webkit-box-flex: 1;
  flex: 1; }

.flex-2 {
  -webkit-box-flex: 2;
  flex: 2; }

.bg-coffee {
  background-color: #FAF8F4; }

.text-box {
  padding: 20px;
  line-height: 25px; }

.table {
  margin-top: 15px;
  width: 100%;
  background-color: white;
  border-collapse: collapse; }
  .table thead {
    background-color: #FAF8F4;
    padding-left: 15px; }
    .table thead tr {
      border-bottom: 2px solid #bbad99; }
    .table thead th {
      text-align: left;
      padding-left: 20px;
      color: #A7957A;
      padding-bottom: 10px; }
  .table tbody {
    padding-left: 15px; }
    .table tbody tr:hover {
      cursor: default;
      background-color: #A7957A;
      color: #fff; }
    .table tbody td {
      padding: 20px;
      text-align: left;
      border-bottom: 1px dashed #A7957A; }

/*# sourceMappingURL=style.css.map */
